In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# EDA

## importing the CSV

In [34]:
# import data
meta = pd.read_csv('metav.csv')

In [35]:
meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14066 entries, 0 to 14065
Data columns (total 36 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Account name                      14031 non-null  object
 1   Day                               14066 non-null  object
 2   Ad name                           14066 non-null  object
 3   Ads                               14066 non-null  object
 4   Campaign name                     14066 non-null  object
 5   Ad Set Name                       14066 non-null  object
 6   Reach                             12994 non-null  float64
 7   Impressions                       12994 non-null  float64
 8   Frequency                         12994 non-null  float64
 9   Currency                          14066 non-null  object
 10  Amount spent (INR)                12910 non-null  float64
 11  Attribution setting               14066 non-null  object
 12  Purchases                         275 non-null    float64
 13  Purchases conversion value        162 non-null    float64
 14  Link clicks                       10613 non-null  float64
 15  CPC (cost per link click)         10613 non-null  float64
 16  Clicks (all)                      11097 non-null  float64
 17  CPC (all)                         11097 non-null  float64
 18  CPM (cost per 1,000 impressions)  12910 non-null  float64
 19  CTR (all)                         11097 non-null  float64
 20  Views                             8195 non-null   float64
 21  Page engagement                   11366 non-null  float64
 22  Follows or likes                  476 non-null    float64
 23  Post comments                     1149 non-null   float64
 24  Post engagements                  11366 non-null  float64
 25  Post reactions                    9454 non-null   float64
 26  Post shares                       6367 non-null   float64
 27  Photo views                       10 non-null     float64
 28  Check-ins                         0 non-null      float64
 29  Video plays at 100%               5572 non-null   float64
 30  Video plays at 25%                5885 non-null   float64
 31  Adds to cart                      452 non-null    float64
 32  Adds to wishlist                  0 non-null      float64
 33  Leads                             8227 non-null   float64
 34  Reporting starts                  14066 non-null  object
 35  Reporting ends                    14066 non-null  object
dtypes: float64(26), object(10)
memory usage: 3.9+ MB

In [36]:
#finding the null values
print(meta.isnull().sum())

Account name                           35
Day                                     0
Ad name                                 0
Ads                                     0
Campaign name                           0
Ad Set Name                             0
Reach                                1072
Impressions                          1072
Frequency                            1072
Currency                                0
Amount spent (INR)                   1156
Attribution setting                     0
Purchases                           13791
Purchases conversion value          13904
Link clicks                          3453
CPC (cost per link click)            3453
Clicks (all)                         2969
CPC (all)                            2969
CPM (cost per 1,000 impressions)     1156
CTR (all)                            2969
Views                                5871
Page engagement                      2700
Follows or likes                    13590
Post comments                       12917
Post engagements                     2700
Post reactions                       4612
Post shares                          7699
Photo views                         14056
Check-ins                           14066
Video plays at 100%                  8494
Video plays at 25%                   8181
Adds to cart                        13614
Adds to wishlist                    14066
Leads                                5839
Reporting starts                        0
Reporting ends                          0
dtype: int64

In [37]:
#copy of the data set
meta1 = meta.copy()

In [38]:
#droping few columns

meta1.drop(['Check-ins'], axis=1, inplace=True)
meta1.drop(['Attribution setting'], axis=1, inplace=True)
meta1.drop(['Reporting starts'], axis=1, inplace=True)
meta1.drop(['Reporting ends'], axis=1, inplace=True)
meta1.drop(['Currency'], axis=1, inplace=True)

In [39]:
meta1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14066 entries, 0 to 14065
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Account name                      14031 non-null  object
 1   Day                               14066 non-null  object
 2   Ad name                           14066 non-null  object
 3   Ads                               14066 non-null  object
 4   Campaign name                     14066 non-null  object
 5   Ad Set Name                       14066 non-null  object
 6   Reach                             12994 non-null  float64
 7   Impressions                       12994 non-null  float64
 8   Frequency                         12994 non-null  float64
 9   Amount spent (INR)                12910 non-null  float64
 10  Purchases                         275 non-null    float64
 11  Purchases conversion value        162 non-null    float64
 12  Link clicks                       10613 non-null  float64
 13  CPC (cost per link click)         10613 non-null  float64
 14  Clicks (all)                      11097 non-null  float64
 15  CPC (all)                         11097 non-null  float64
 16  CPM (cost per 1,000 impressions)  12910 non-null  float64
 17  CTR (all)                         11097 non-null  float64
 18  Views                             8195 non-null   float64
 19  Page engagement                   11366 non-null  float64
 20  Follows or likes                  476 non-null    float64
 21  Post comments                     1149 non-null   float64
 22  Post engagements                  11366 non-null  float64
 23  Post reactions                    9454 non-null   float64
 24  Post shares                       6367 non-null   float64
 25  Photo views                       10 non-null     float64
 26  Video plays at 100%               5572 non-null   float64
 27  Video plays at 25%                5885 non-null   float64
 28  Adds to cart                      452 non-null    float64
 29  Adds to wishlist                  0 non-null      float64
 30  Leads                             8227 non-null   float64
dtypes: float64(25), object(6)
memory usage: 3.3+ MB

In [43]:
#changing the column names to lower case and replacing the space with underscore
meta1.columns = meta1.columns.str.lower().str.replace(' ', '_')

#changing the column names for better understanding
meta1.rename(columns={
    'cpc_(cost_per_click)': 'cpc', 
    'cpm_(cost_per_impressions)': 'cpm',
    'ctr_(click_through_rate)': 'ctr',
    'link_clicks':'clicks',
    'amount_spent_(inr)':'spent',
    

    }, inplace=True)

In [42]:
meta1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14066 entries, 0 to 14065
Data columns (total 31 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   account_name                      14031 non-null  object
 1   day                               14066 non-null  object
 2   ad_name                           14066 non-null  object
 3   ads                               14066 non-null  object
 4   campaign_name                     14066 non-null  object
 5   ad_set_name                       14066 non-null  object
 6   reach                             12994 non-null  float64
 7   impressions                       12994 non-null  float64
 8   frequency                         12994 non-null  float64
 9   spent                             12910 non-null  float64
 10  purchases                         275 non-null    float64
 11  purchases_conversion_value        162 non-null    float64
 12  clicks                            10613 non-null  float64
 13  cpc_(cost_per_link_click)         10613 non-null  float64
 14  clicks_(all)                      11097 non-null  float64
 15  cpc_(all)                         11097 non-null  float64
 16  cpm_(cost_per_1,000_impressions)  12910 non-null  float64
 17  ctr_(all)                         11097 non-null  float64
 18  views                             8195 non-null   float64
 19  page_engagement                   11366 non-null  float64
 20  follows_or_likes                  476 non-null    float64
 21  post_comments                     1149 non-null   float64
 22  post_engagements                  11366 non-null  float64
 23  post_reactions                    9454 non-null   float64
 24  post_shares                       6367 non-null   float64
 25  photo_views                       10 non-null     float64
 26  video_plays_at_100%               5572 non-null   float64
 27  video_plays_at_25%                5885 non-null   float64
 28  adds_to_cart                      452 non-null    float64
 29  adds_to_wishlist                  0 non-null      float64
 30  leads                             8227 non-null   float64
dtypes: float64(25), object(6)
memory usage: 3.3+ MB